<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362427015361-vuesgmm0lc1pgd3079s60irbnqr84582.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362427015361-vuesgmm0lc1pgd3079s60irbnqr84582</string>
	<key>API_KEY</key>
	<string>AIzaSyA46B_LizVy_hmnoV8V-YgdUmGAD8VPnW0</string>
	<key>GCM_SENDER_ID</key>
	<string>362427015361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SparkInc.Spark</string>
	<key>PROJECT_ID</key>
	<string>capstone-spark-25f6b</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-spark-25f6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362427015361:ios:f45a81334475b3001e7440</string>
	<key>DATABASE_URL</key>
	<string>https://capstone-spark-25f6b-default-rtdb.firebaseio.com</string>
</dict>
</plist>